@{

    ViewBag.Title = "Home page";
}

<div class="row">
   <div class="col-md-9">
    <div class="product-info">
        <img src="~/img/DSC04440.JPG" />
        <h3>mug<</h3>>
        <ul class="product-props">
            <li>price: 9.99</li>
            <li>Artist: van gogh</li>
            <li>title:</li>
            <li>description: self-potrait</li>

        </ul>
        <button id="buybutton" class="btn btn-success">buy</button>>
    </div>
    
    <div id="theForm">

        <form>
            <label>Your name: </label>
            <br />

            <input />
            <br />
            <label>Email: </label>
            <br />
            <input type="email" />
            <br />
            <label>subject:</label>
            <br />
            <input type="text" />
            <br />
            <label>Message:</label>
            <br />                                                                                                                                                                                                                          5
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="send message" />
        </form>
    </div>

    <div id="loginToggle">
        <form class="popup-form">
            <div>
                <label>Username</label>
                <input />
            </div>

            <div>
                <label>password</label>
                <input type="password" />
            </div>

            <div>

                <input type="checkbox" />
                <label>Remember Me?</label>
            </div>

            <div>

                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
    </div>
    <div class="col-md-3">
        <p>this is a fun site to do some buying of dutch produts.</p>
    </div>
    </div>

    